NODE_ENV=development
PARTNER_API_BASE_URL=          #  https://partnersandbox-stage.adobe.io
IMS_TOKEN_URL=                 # eg https://ims-na1-stg1.adobelogin.com
PARTNER_CLIENT_ID=
PARTNER_CLIENT_SECRET=

PARTNER_NAME=
MARKET_SEGMENTS=              # eg ["COM","EDU","GOV"]
CURRENCIES=                   # eg ["USD"]
REGION=                       # eg NA