NODE_ENV=development
PARTNER_API_BASE_URL=
IMS_TOKEN_URL=
PARTNER_CLIENT_ID=
PARTNER_CLIENT_SECRET=

PARTNER_NAME=
MARKET_SEGMENTS=              # eg ["COM","EDU","GOV"]
CURRENCIES=                   # eg ["USD"]
REGION=                       # eg NA